html,
body {
  color-scheme: light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #111a66;
  background: #f0f0f0;
}